body {
    margin-top: 25%;
    padding: 0px;
}

label {
    display: flex;
    justify-content: flex-start;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.calculator-box {
    display: inline-grid;
    background: blue;
    border: 2px solid black;
    width: 11%;
}

.output {
    background: white;
    border-bottom: 1px solid black;
    z-index: 1;
}

.selectors {
    align-content: space-around;
    justify-content: center;
    height: 20%;
}

.number {
    align-content: space-around;
    justify-content: center;
}
