<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bytesized&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css"/>
    <title>Text-alignment, spacing, transformation</title>
</head>
<body>
    <section>
        <h1>Alignment</h1>
     <p class="left">Left alignment</p>
     <p class="center">Center alignment</p>
     <p class="right">Right alignment</p>
    </section>
    <br />
    <section>
        <h2>Line height & Spacing</h2>
        <p class="spacing letter-spacing"> Hello world Hello world Hello world Hello world Hello world Hello worldHello world</p>
    </section>
    <br />
    <section>
        <h3>Text Transformation</h3>
        <p class="uppercase underline ">This is Uppercase</p>
        <p class="lowercase line-through">THIS IS LOWERCASE</p>
        <p class="capitalize no-decoration">This is Capitalized</p>
    </section>
    <a href="google.com" class="no-decoration">google.com</a>
    <br />
    <p class="bytesized-regular">MINECRAFT</p>
</body>
</html>