<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
    <title>Layout and positioning</title>
</head>
<!--
-Display properties(block, inline, flex, grid)
-Positioning elements(static, relative, absolute, fixed, sticky)
-Alignment and spacing(top, right, bottom, left, z-index)
-Overflow handling
-->
<body>
    <div class="block"> I am a block element</div>
    <div class="hidden"> Div acting like  span</div>
    <br />
    <span class="hidden"> Span acting like a block</span>
    <span class="inline">I am inline</span>
    <span class="inline">I am aso inline</span>
</body>
</html>