<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overflow</title>
</head>
<body>
    <div class="overflow">The demons first gave him the appellation "Doom Slayer" and also refer to him as the Unchained Predator, the Beast, and the Hellwalker. The UAC refers to him as DOOM Marine, or The Slayer.
        Before the character had any epithets in the story, he was most commonly called Doomguy in the fan community. This nickname is mentioned in Doom Eternal and used in his dialogue subtitles.
        He is intended to be the latest iteration and continuation of the classic DOOM Marine who is the protagonist for most of the series. According to Tom Hall and John Romero (who worked on the original Doom), the original iteration of the DOOM Marine was the grandson[4] of Commander Keen and the great-great-grandson of William J. Blazkowicz. The Doom Slayer's Blazkowicz ancestry may or may not be canonical for the modern iteration.
        The developers have originally stated that the protagonist has no canon name because he is a representation of the player.
        The Marine/Slayer is not referred by name in the original games. Romero described this choice as increasing player immersion: "There was never a name for the [Doom] marine because it's supposed to be YOU [the player]
        When asked directly on Twitter, John Romero replied humorously that his name is really Doom Guy (with a space, in two words - first word for name and second for surname).
    </div>
    <div class="overflow-2">The demons first gave him the appellation "Doom Slayer" and also refer to him as the Unchained Predator, the Beast, and the Hellwalker. The UAC refers to him as DOOM Marine, or The Slayer.
        Before the character had any epithets in the story, he was most commonly called Doomguy in the fan community. This nickname is mentioned in Doom Eternal and used in his dialogue subtitles.
        He is intended to be the latest iteration and continuation of the classic DOOM Marine who is the protagonist for most of the series. According to Tom Hall and John Romero (who worked on the original Doom), the original iteration of the DOOM Marine was the grandson[4] of Commander Keen and the great-great-grandson of William J. Blazkowicz. The Doom Slayer's Blazkowicz ancestry may or may not be canonical for the modern iteration.
        The developers have originally stated that the protagonist has no canon name because he is a representation of the player.
        The Marine/Slayer is not referred by name in the original games. Romero described this choice as increasing player immersion: "There was never a name for the [Doom] marine because it's supposed to be YOU [the player]
        When asked directly on Twitter, John Romero replied humorously that his name is really Doom Guy (with a space, in two words - first word for name and second for surname).
    </div>
    <div class="overflow-3">The demons first gave him the appellation "Doom Slayer" and also refer to him as the Unchained Predator, the Beast, and the Hellwalker. The UAC refers to him as DOOM Marine, or The Slayer.
        Before the character had any epithets in the story, he was most commonly called Doomguy in the fan community. This nickname is mentioned in Doom Eternal and used in his dialogue subtitles.
        He is intended to be the latest iteration and continuation of the classic DOOM Marine who is the protagonist for most of the series. According to Tom Hall and John Romero (who worked on the original Doom), the original iteration of the DOOM Marine was the grandson[4] of Commander Keen and the great-great-grandson of William J. Blazkowicz. The Doom Slayer's Blazkowicz ancestry may or may not be canonical for the modern iteration.
        The developers have originally stated that the protagonist has no canon name because he is a representation of the player.
        The Marine/Slayer is not referred by name in the original games. Romero described this choice as increasing player immersion: "There was never a name for the [Doom] marine because it's supposed to be YOU [the player]
        When asked directly on Twitter, John Romero replied humorously that his name is really Doom Guy (with a space, in two words - first word for name and second for surname).
    </div>
</body>
</html>