<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Font family-</title>
</head>
<!--
-Font family->choosing the right font
-Font-size->Scaling text appropriately
-Font weight & style->bold italic etc.
-Text align & spacing->line height, letter spacing.
-Text transform 7 Decor-> Uppercase, underline, etc.
-Google Fonts->importing custom fonts.
-->
  <body>
    <h1>Font styles</h1>
    <p class="serif">Serif font</p>
    <p class="serif-serif">Sans-Serif font</p>
    <p class="monospace">Monospace font</p>
    <br />
    <h2>Font size</h2>
    <p class="small">small text</p>
    <p class="medium">medium text</p>
    <p class="large">large text</p>
    <br />
    <h3>Font width and height</h3>
    <p class="relative-size">Size</p> 
    <p class="viewport">Viewport size</p>
    <h4>Weight and style</h4>    
    <p class="light">Light</p> 
    <p class="normal">Normal</p> 
    <p class="bold">Bold</p> 
  </body>
</html>